#content {
	background-color: #EFF;
	margin-top: -1px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px 5px;
}

#content img {
	height: 30px;
}

#tab {
	height: 30px;
	width: 100%;
	margin: 13px 0 0 0;
	display: table;
	table-layout: fixed;
	list-style: none;
}

.tab__cell {
	display: table-cell;
	text-align: center;
}

.tab__item {
	margin: auto;
	border: 1px solid black;
	border-top-left-radius: 13px 13px;
	border-top-right-radius: 13px 13px;
}

.tab__item a {
	text-decoration: none;
	display: block;
}

.tab__item--current {
	background-color: #EFF;
}

.tab__item img {
	height: 30px;
}

/**
 * pc
 */
@media screen and (min-width: 768px) {
	.tab__item {
		width: 150px;
	}

	#group__list {
		width: 90%;
	}
}

/**
 * smart phone
 */
@media screen and (max-width: 767px) {
	.tab__item {
		width: 65px;
	}

	.tab__item span {
		display: none;
	}

	#group__list {
		width: 75%;
	}
}

/**
 * group
 */
#group .icon {
	margin-left: 1em;
}

#group__list {
	cursor: pointer;
	margin: 0;
	padding: 0 8px;
	border: 1px solid black;
	border-radius: 5px 5px;
	float: left;
}

.media:not(:first-child) {
	display: none;
}

.media + .media {
	border-top: 1px solid black;
}

.media:before, .media:after {
	display: table;
	content: " ";
}

.media:after {
	clear: both;
}

.media {
	padding: 8px 0;
}

.media__image {
	display: block;
	height: 3rem;
	float: left;
	margin-right: 1em;
}

.media__body {
	overflow: hidden;
	min-height: 3rem;
}

.media__body__text {
	margin-top: 0;
	margin-bottom: 0;
}

#group__mark {
	float: right;
	margin-right: 0.5rem;
}

/**
 * icon
 */
.icon {
	display: inline-block;
	background-image: url(sprite-sheet.png);
}

.icon--config {
	width: 32px;
	height: 32px;
	background-position: 81px 1px;
}

#group .icon {
	margin-top: 1rem;
	float: left;
}

.clearfix {
	content: "."; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
}
