.nav {
	display: table;
	width: 100%;
	table-layout: fixed;
	padding: 0px;
}
.nav__item {
	display: table-cell;
}
.nav__item > a {
	display: block;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	background-color: #49E;
	font-weight: bold;
	color: #FFF;
}
