.links {
	width: 100%;
	height: 100%;
	font-size: 1.5em;
	overflow: scroll;
}
.links hr {
	width: 90%;
	margin-left: -1em;
}
.link__item  {
	padding-left: 1em;
}
.link__item span {
	margin-left: 2em;
}
.link__item > a {
	text-decoration: none;
}
