#group {
	background-color: #ccc;
	width: 80%;
}

#group__list {
	list-style: none;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 5px 8px;
}

#group__mark {
	margin-left: 1em;
	font-size: 1rem;
}

.group__item:not(:first-child) {
	display: none;
}

.group__item + .group__item {
	border-top: 1px solid black;
}
