#header {
	height: 50px;
}

#group {
	width: 100%;
	height: 100%;
	font-size: 1.5em;
}

#buttons {
	background-color: #CCC;
	height: 30px;
	padding-left: 5px;
}

#home {
	background-color: #ACC;
	left: 8px;
	right: 8px;
}

#message {
	background-color: #CAC;
	left: 1008px;
	right: -992px;
}

#schedule {
	background-color: #CCA;
	left: 2008px;
	right: -1992px;
}

#link {
	background-color: #AAC;
	left: 3008px;
	right: -2992px;
}

.item {
	position: fixed;
	top: 88px;
	bottom: 8px;
}
