html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#layout-header {
	background-color: #FAA;
	position: fixed;
	top: 0px;
	height: 3em;
	width: 100%;
}

#layout-selectors {
	background-color: #AAF;
	position: fixed;
	top: 6em;
	height: 3em;
	left: 3em;
	right: 3em;
}

.groups {
	float: left;
	margin-right: 1em;
	margin-top: 1em;
}
.tab {
	background-color: #CCF;
	float: left;
	margin-right: 1em;
	font-size: 1em;
	text-align: center;
	width: 5em;
	margin-top: 1em;
	height: 2em;
}

#layout-content {
	background-color: #AFA;
	position: fixed;
	top: 9em;
	bottom: 3em;
	left: 3em;
	right: 3em;
}
